.header{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;

  &__logo-box{
    display: flex;
    align-items: center;
  }
  &__logo{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
  }
}
