@import "~src/styles/variables/variables";

.title {
  background-color: $color-primary;
  color: #fff;
  font-family: inherit;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}
